-@ldm.queues.each do |name, queue|
  .well
    %p          
      .lead
        =name
    -if queue.files.any? 
      %dl.dl-horizontal
        %dt="Last Item"
        %dd=queue.files.first.basename
        %dt="Time Added"
        %dd=queue.files.first.mtime
        %dt="Size"
        %dd
          -if queue.files.first.size > 1024 * 1024
            = "#{queue.files.first.size / (1024*1024)}M"
          -else   
            = "#{queue.files.first.size / 1024}K"
    - else
      No items in queue
