%thead
  %tr
    %th=name
  %tr
    %th
      Filename
    %th
      Timestamp
    %th
      Size
%tbody
  -queue.files.each do |file|
    %tr
      %td=file.basename
      %td=file.mtime
      %td=file.size