%table
	%thead
		%tr
			%th=@name
		%tr
			%th
				Filename
			%th
				Timestamp
			%th
				Size
	%tbody
		- @queue.files.each do |file|
			%tr
				%td
					%a(href="/data/ldm/#{@name}/#{File.basename(file)}")= File.basename(file)
				%td= File.mtime(file)
				%td= File.size(file)

